@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&family=Roboto:ital,wght@0,300;0,400;0,500;1,400&display=swap');

/*===========*/

* {
   padding: 0;
   margin: 0;
   border: 0;
}

.square__container {
   width: 100%;
   height: 40px;
   background-color: #ffbdbd;
}

.square__container-js,
.square__container-frame {
   width: 100%;
   height: 40px;
   background-color: #ffbdbd;
}

.running__square {
   width: 40px;
   height: 40px;
   background: red;
   position: relative;
   animation: 2s linear 0s infinite alternate jump;
}

.running__square-js,
.running__square-frame {
   width: 40px;
   height: 40px;
   background: red;
   position: relative;
}

.running__square-frame.entered,
.running__square-js.entered {
   animation: jump 2s linear forwards alternate infinite;
}

@keyframes jump {
   0% {
      left: 0px;
      top: 0px;
   }
   100% {
      left: calc(100% - 40px);
      top: 0px;
   }
}

.char_list {
   cursor: pointer;
   padding: 5px;
   &:hover {
      background-color: #eeeeee;
   }
}

.header_content {
   @media screen and (max-width: 867.5px) {
      height: 150px;
      gap: 5px;
   }
   width: 100%;
   height: 80px;
   gap: 10px;
   margin: 0 auto;
   display: flex;
   flex-direction: column;
   justify-content: space-around;
   align-items: center;
   padding: 10px;
   position: relative;
}

.MuiFab-circular.MuiFab-primary {
   width: 35px;
   height: 35px;
   background-color: #f06292;
   &:hover {
      background-color: #e91e63;
   }
}

.dropdowns {
   @media screen and (max-width: 867.5px) {
      display: flex;
      width: 100%;
      gap: 3px;
      flex-direction: column;
      align-items: flex-start;
   }
   display: flex;
   width: 100%;
   height: auto;
   gap: 10px;
   justify-content: center;
}

.MuiFormHelperText-root {
   color: #f44336 !important;
}

.MuiOutlinedInput-root {
   & input[aria-describedby] + fieldset {
      border-color: #f44336 !important;
   }
}

.Mui-error {
   color: #f44336 !important;
}
