$GREY: #808080;
$WHITE: #f2f3f4;
$BROWN: #563d3d;
$GREEN: #516644;
$TOMATO: #682828;
$CURRY: #ef5b5b;
$JUNEBERRY: #76589d;
$PINK: #f97f7f;
$RED: #f33c3c;
$FIRED_CLAY: #874545;
$BLUE: #3a4eca;
$BLUE2: #94cfff;
$BLUE3: #5876c9;
